<h2>Find out the secret ingredients of your favorite cocktail!</h2>

<%= link_to "New dose", new_cocktail_dose_path(@cocktail) %>

<h3><%= @cocktail.name %></h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name %></li>
        <li><%= dose.description %></li>
      <% end %>
    </ul>

<%= link_to "See more cocktails", cocktails_path%>
